
body{

    background-image: url("../images/seigaiha.png");

}

h2{
    color: #4aaaa5;
    border-bottom: solid 2px #666;
    margin: 10px 30px 10px 15px;

}
h3{
    color: #4aaaa5;
    border-bottom: solid 2px #666;
    margin: 10px 30px 10px 15px;
}


.footer {
    position: absolute;
    bottom: 0;
    right:0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
}
.navbar-fixed-bottom{
    bottom: 0;
    right:0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #666;
    border-top: 8px solid #4aaaa5;
}
}

.media-object{
    margin: 10px;
}
.media-body{
    padding-right: 10px;
}



.navbar-default .navbar-brand {
    color: white;
    background-color: #4aaaa5;
   
    
}


.navbar-header{
    padding-left: 20px;
}

.navbar-default{
    background-color: white;
}



.col-md-8{
    border:solid 1px #cccccc;
    background-color: white;

}


.space{
    background-color: white;
    border:solid 1px #cccccc;
    margin-bottom: 20px;
    margin-right: 2%;

}
.changeMargin{
    margin-bottom: 10px;
    margin-right: 10px;

}

.makespace{
    padding: 10px 0 10px 0 ;
}

#image1{
    float: left;
    background-image: url("../images/image1.jpg");
}

.caption {
    max-width:95%;
    bottom: .3rem;
    position: absolute;
    margin-left: 2%;
    margin-right: 2%;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    color: white;
    background-color: #4aaaa5;
}

/*
.colspace{
    margin-right: 15px;
    margin-bottom: 15px;
}*/
.changefooter{
    position: absolute;
    text-align: center;
    background-color: #666;
    margin-top: 20%;
    border-top: 8px solid #4aaaa5;
    bottom: 0;
    right:0;
    width: 100%;
    height: 50px;
    
}


  
  